.launch-container {
  height: 25vh;
  width: 20vh;
  margin: 15px;
}

.launch-img {
  height: 20vh;
  width: 20vh;
}

.launch-name {
  text-align: center;
}

.background {
  height: 20vh;
  width: 20vh;
  background-color: #330969;
}